<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-css">

				<meta charset="UTF-8"/>
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
				<meta name="viewport" content="	width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
				
				
				 <link rel="icon" href="resources/static/img/logo.png" th:href="@{/img/logo.png}" />
				 
				 				<link rel="stylesheet" media="screen" href="resources/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
				 
				
<!-- 		       	<link rel="stylesheet" media="screen" href="resources/static/css/clndr.css" th:href="@{/css/clndr.css}" type="text/css" /> -->
<!-- 		        <link rel="stylesheet" media="screen" href="resources/static/css/fabochart.css" th:href="@{/css/fabochart.css}" type="text/css"/> -->

		        <link rel="stylesheet" media="screen" href="resources/static/css/flexslider.css" th:href="@{/css/flexslider.css}" type="text/css"/>



				<link rel="stylesheet" media="screen" href="resources/static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" type="text/css"/>
<!-- 				<link rel="stylesheet" media="screen" href="resources/static/css/graph.css" th:href="@{/css/graph.css}" type="text/css"/>		 -->
				<link rel="stylesheet" media="screen" href="resources/static/css/icon-font.min.css" th:href="@{/css/icon-font.min.css}" type="text/css"/>
			
				<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type='text/css'/>
				<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css' />
				<link rel="stylesheet" media="screen" href="/resources/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}" type="text/css" />
				 <link rel="stylesheet" media="screen" href="/resources/static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
				 <link rel="stylesheet" media="screen" href="/resources/static/css/basic.css" th:href="@{/css/basic.css}" type="text/css"/>


<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

				 <meta th:include="this :: head-css"/>
			


</head>


<body>


</body>



</html>

