<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="fragmentos/head :: head-css">
	
	
	</head>
		
		<title>Cadastro de Produto</title>

<body>
			
<div class="page-container">
   <!--/content-inner-->
	<div class="left-content">
	
	<div class="inner-content">

	   			  <div th:replace="fragmentos/top-nav :: top-nav">
				
				</div>
				
				
				<div class="content">
				
				
<!-- 				mensagens do sistema  -->
				
		<div class="row-fluid" th:if="${sucesso}">
					
			<div class="alert alert-success">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">check</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${sucesso}">
					
					
					
					</span>
					
					<span class="btn btn-sm btn-warning"><a th:href="@{/produto/cadastro}"><i></i>Novo</a></span>
					<span class="btn btn-sm btn-warning"><a th:href="@{/produto/editar(id=${produto.id})}"><i></i>Editar</a></span>
					
				
				</div>
				
				
			</div>
					
					
					
			</div>
					
			<div class="row-fluid" th:if="${erro}">
					
			<div class="alert alert-danger">
				<div class="container-fluid">
					<div class="alert-icon">
						<i class="material-icons">error</i>
					</div>
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="material-icons">clear</i></span>
					</button>
					<b>Mensagem:</b> <span th:utext="${erro}"></span>
				
					<span class="btn btn-sm btn-warning"><a th:href="@{/produto/cadastro}"><i></i>Novo</a></span>
					<span class="btn btn-sm btn-warning"><a th:href="@{/produto/editar(id=${produto.id})}"><i></i>Editar</a></span>
			
				</div>
				
				
			</div>
					
					
					
			</div>
				
<!-- fim das mensagens -->


<!-- inicio do conteudo  -->

<div class="row-fluid">
			        
			       
			  
			        
			        
            <div class="span12">
                        <div class="card">
                    <div class="card-content">
                       
                                <div class="card-header" data-background-color="blue">
                                
                                    <h4 class="title">Cadastro Produto
                                    
                                    
                                    </h4>
                                    <p class="category">Insira os Dados</p>

                                </div>
                                
<!--                                 </br> -->
          <div class="widget-content">
                
       <div class="col-md-2">      
          <form method="post" action="salvarfotoproduto" enctype="multipart/form-data" class="form-horizonta">       
      
                  
                            <div class="card card-profile">
                               
                                <div class="card-avatar" th:if="${filename}">
                                    <a href="#pablo">
<!--                                         <img class="img" src="/img/vazio.jpg"  th:src="${filename}"/> -->
                                    <img class="img" th:src="@{/img/produto/{fotoc}(fotoc=${filename})}"/>
                                    
                                    </a>
                                    
                                    
                                </div>
                           
                           <div class="card-avatar" th:unless="${filename}">
                                    <a href="#pablo">
<!--                                         <img class="img" src="/img/vazio.jpg"  th:src="${filename}"/> -->
<!--                                     <img class="img" th:src="@{/img/produto/vazio.jpg}"/> -->
                                    
                                    </a>
                                    
                                    
                                </div>
                                
                               
                                
                                  <div class="card-avatar" th:if="${produto.image}">
                                     
                                     <a href="#pablo">
                                    <img class="img" th:src="@{/img/produto/{fotoc}(fotoc=${produto.image})}"/>
                                   </a>
                            
								</div>
								
							<div class="card-avatar" th:unless="${produto.image}">
                                     
                                     <a href="#pablo">
                                    <img class="img" th:src="@{/img/produto/vazio.jpg}"/>
                                   </a>
                            
								</div>
								
								
								
                            	<div class="form-group  is-fileinput">
									    <input type="file" id="file" multiple="multiple" name="file"/>
									    <div class="input-group">
									      <input type="text" readonly="readonly" class="form-control" placeholder="Selecione a Foto..." /> 
									        <span class="input-group-btn input-group-sm">
									          <button type="button" class="btn btn-fab btn-fab-mini">
									            <i class="material-icons">attach_file</i>
									          </button>
									        </span>
									   
									   	<button type="submit"  class="btn btn-info btn-round btn-md">Salvar Foto</button>
									   
									    </div>
								
									</div>
                            
                            
                            </div>
<!--                         </div> -->
                             
									
                                       
              <span class="material-input"></span>
                         		
                                    
              </form>
              
              </div> 
                             
          <form class="form-horizonta" method="post"
                             th:action="@{/produto/add}">
                             
                             
			<div class="checkbox">
                <label>
				<input id="ativo" name="optionsCheckboxes"  type="checkbox" th:checked="${produto.ativo}" class="checkbox"/>Ativo?
				</label>
              </div>

						<div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Id</label>
                                <div class="controls">
                                    <input id="id" class="form-control" name="id" type="text" th:value="${produto.id}"
                                           placeholder="" readonly="readonly"/> 
                                </div>
                            </div>
                            </div>
                            
                            <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Nome</label>
                                <div class="controls">
                                    <input id="nome" class="form-control" name="nome" type="text" th:value="${produto.nome}"
                                           placeholder=""> </input>
                                </div>
                            </div>
                            </div>
                            
                             <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Descricao</label>
                                <div class="controls">
                                    <input id="descricao" class="form-control" name="descricao" type="text" th:value="${produto.descricao}"
                                           placeholder=""> </input>
                                </div>
                            </div>
                            </div>
                            
                            
                            
                            <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">CodeBar</label>
                                <div class="controls">
                                    <input id="codebar" class="form-control" name="codebar" type="text" th:value="${produto.codebar}"
                                           placeholder=""> </input>
                                </div>
                            </div>
                            </div>
                            
                            
                            
						<div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Categoria</label>
                                <div class="controls">

                                    <select id="categoria" name="categoria" class="form-control">
                                        <optgroup label="Escolha a Categoria">

                                            <option th:value="${produto.categoria}" th:selected="selected"
                                            th:utext="${produto.categoria}">
                                            
                                            
                                            </option>

                                                
                                             	<option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:utext="${categoria.nome}"> categoria </option>
					           				      	
				           				   		


                                        </optgroup>
                                    </select>


                                </div>
                            </div>
                            </div>                            
                            
                            
                         <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Unidade de Medida</label>
                                <div class="controls">

                                    <select id="un_medida" name="un_medida" class="form-control">
                                        <optgroup label="Unidade de Medida">

                                            <option th:value="${produto.un_medida}" th:selected="selected"
                                            th:utext="${produto.un_medida}">
                                            
                                            
                                            </option>

                                                
                                             	<option th:each="medida: ${medida}" th:value="${medida}" th:utext="${medida}"> medida </option>
					           				      	
				           				   		


                                        </optgroup>
                                    </select>


                                </div>
                            </div>
                            </div>
                            
                            
                            <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Fornecedor</label>
                                <div class="controls">

                                    <select id="fornecedor" name="fornecedor" class="form-control">
                                        <optgroup label="Fornecedores">

                                            <option th:value="${produto.fornecedor}" th:selected="selected"
                                            th:utext="${produto.fornecedor}">
                                            
                                            
                                            </option>

                                                
                                             	<option th:each="fornecedor: ${fornecedores}" th:value="${fornecedor.id}" th:utext="${fornecedor}"> fornecedor </option>
					           				      	
				           				   		


                                        </optgroup>
                                    </select>


                                </div>
                            </div>
                            </div>
                            
                            
                             <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Preco Custo</label>
                                <div class="controls">
                                    <input id="precoCusto" class="form-control" name="precoCusto" type="text" th:value="${produto.precoCusto}"
                                           placeholder=""> </input>
                                </div>
                            </div>
                            </div>
                            
                            <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Preco Venda</label>
                                <div class="controls">
                                    <input id="precoVenda" class="form-control" name="precoVenda" type="text" th:value="${produto.precoVenda}"
                                           placeholder=""> </input>
                                </div>
                            </div>
                            </div>
                           
                            
                           <div class="form-group label-floating ">
                            <div class="control-group">
                                <label class="control-label">Imagem</label>
                                <div class="controls">
                                    <input id="image" class="form-control" name="image" type="text" th:value="${produto.image}"
                                           placeholder=""> </input>
                                </div>
                            </div>
                            </div>
                            
                            
                            <div class="form-actions">
                                <input type="submit" th:value="${acao}" class="btn btn-success"> </input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
		
		

			<div class="clearfix"></div>


             <div th:replace="fragmentos/footer :: footer">
            
            </div>
            
            

</div>

</div>

</div>
<!-- </div> -->
			
<!-- </div> -->

				<div th:replace="fragmentos/side-menu :: side-menu">
		    	</div>


</div>	

<!-- </div> -->

<div th:replace="fragmentos/footer :: script" style="display:none;"></div>
			
</body>
			
			
</html>

